* {
    margin: 0;
    padding: 0;
}

main {
    margin: auto;
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: #c10000;
    padding: 20px 0;

    box-shadow: 1px 1px 20px #777777, -1px -1px 20px #fff;
}

footer #logo,
footer #links {
    width: 25%;
    text-align: center;
}

footer #logo img {
    width: 230px;

    cursor: pointer;
}

footer #links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer #links img {
    width: 35px;
    margin-top: 5px;

    cursor: pointer;
}

#navbarSupportedContent {
    margin-left: 50px;
}

.card-text {
    color: #c10;
    font-weight: 700; 
    margin-top: 30px;
}

#compra{
    margin-top: 30px;
}

.container-fluid img {
    width: 200px; 
    margin-left: 20px;
}

#home {
    font-weight: 700;
}

.nav-link {
    font-weight: 500;
}

#pesquisa {
    margin-right: 20px;
}

#pesquisaIcone {
    background-image: url(./assets/search.svg);
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: center;
}

.d-flex {
    margin-top: 20px; 
    margin-bottom: 20px; 
    justify-content: space-around; 
}

.offcanvas-body {
    font-weight: 500;
}

.offcanvas-header {
    font-weight: 700;
}